@import "tailwindcss";

@theme {
  --color-primary: #f0c14b;
  --color-primary-hover: #f3d078;
  --color-secondary: #131921;
  --color-accent: #37475a;
  --color-bg-light: #eaeded;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

